.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    &.Twitter{
      background-color:#1DA1F2 ;
      color: white;
      &:hover{
        background-color: #009dff;
        border:none;
      }
    }
    &.Facebook{
      background-color:#4267B2;
      color: white;
      &:hover{
        background-color:#0156ff ;
        border:none;
      }
    }

    &.Google{
      background-color:#4285F4;
      color: white;
      &:hover{
        background-color:#0867ff ;
        border:none;
      }
    }
  }